* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.main {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    color: rgb(165, 80, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main h1 {
   padding-top: 20%;
   font-size: 60px;
}

.main p {
    font-size: 22px;
}

.btn {
    font-size: 20px;
    margin-top: 30px;
    padding: 13px 20px;
    color: rgb(165, 80, 0);
    display: inline-block;
    border: 1px solid rgb(165, 80, 0);
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(165, 80, 0);
    color: rgb(255, 241, 240);
}

.p {
    background-color: rgb(165, 80, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.all-p {
  display: inline-flex;
}

.p-w {
    background-color: rgb(255, 255, 255);
    color: rgb(165, 80, 0);
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.p-f {
    width: 33%;
    background-color: rgb(165, 80, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.p-2 {
    width: 33%;
    background-color: rgb(255, 255, 255);
    color: rgb(165, 80, 0);
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;

    
}

.p-f {
    width: 33%;
    background-color: rgb(165, 80, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}